.isloading-ring {
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
  }
  .isloading-ring div {
    box-sizing: border-box !important;
    display: block !important;
    position: absolute;
    width: 15px;
    height: 15px ;
    border: 1.5px solid #ff3547;
    border-radius: 50% !important;
    animation: isloading-ring 0.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ff3547 transparent transparent transparent;
  }
  .isloading-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .isloading-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .isloading-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes isloading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }