.signInContainer {
    width: 30%;
    left: 35%;
    top: 50px;
    position: relative;
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 
                0 2px 2px rgba(0, 0, 0, 0.15),
                0 4px 4px rgba(0, 0, 0, 0.15),
                0 8px 8px rgba(0, 0, 0, 0.15);

    @media only screen and (max-width: 960px) {
        width: 80%;
        left: 10%;
    }
}
.welcome-text {
    margin-bottom: 10%;
    font-size: 1.75rem;
    font-weight: 500;

    @media only screen and (max-width: 960px) {
        font-size: 1rem;
    }
}

input {
    margin-bottom: 5%;
}