.signInContainerWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    max-height: 100vh;

    .signInContent{
        background: var(--primaryColor);
        color: var(--primaryWhite);  
        padding: 10% 20% 10% 30%;  
        
        img {
            margin-bottom: 80px;
            height: 50px;
        }
    }

    .signInContainer {
        width: 60%;
        left: 15%;
        margin-top: 25%;
        position: relative;
        padding: 20px;

        img {
            margin-bottom: 30px;
            height: 30px;
            display: none;
        }
    }
}
.welcome-text {
    margin-bottom: 10%;
    font-size: 1.75rem;
    font-weight: 500;
}

input {
    margin-bottom: 5%;
}

footer{
    position: absolute;
    bottom: 0px;
    right: 5%;
    .copyright{
        color: #5194c6;
        padding-left: 5px;
    }
}

@media only screen and (max-width: 960px){
    .signInContainerWrapper{
        grid-template-columns: 1fr;
        background-color: var(--primaryColor);

        .signInContent{
            display: none;
        }

        .signInContainer {
            width: 80%;
            left: 10%;
            img {
                display: block;
            }
        }
        .welcome-text {
            font-size: 1rem;
        }
    }
}