.top-institutions-container{
    padding: 0px 40px;
    background: #222876;
    color: var(--primaryWhite);
}
.slick-slide > div {
    margin: auto 20px;
    text-align: center;
    padding: 5px;
    background: var(--primaryBlack);
  }