#alignChartAndCards{
    display: grid;
    grid-template-columns: 3fr 1fr;

    #chart{
        width: 99%;
        height: 500px; 
        margin: 0;
    }

    @media only screen and (max-width: 960px) {
        grid-template-columns: 1fr;

        #chart{
            height: 300px; 
            margin-bottom: 20px;
        }
    }
}