#alignChartAndCards{
    display: grid;
    grid-template-columns: 1fr 1fr;

    #chart{
        margin: 0 10px 0 0;
    }

    @media only screen and (max-width: 960px) {
        grid-template-columns: 1fr;

        #chart{
            margin: 0 0 20px 0;
        }
    }
}