.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7.5px 20px;
    color: var(--primaryWhite);

    &:hover {
        transform: scale(1.02);
        box-shadow: 4px 4px var(--primaryAsh);
        cursor: pointer;
    }    
}