.signInContainer {
    width: 30%;
    left: 35%;
    top: 10vh;
    position: relative;
    text-align: center;

    @media only screen and (max-width: 960px) {
        width: 80%;
        left: 10%;
    }
}
.welcome-text {
    margin-bottom: 10%;
}

input {
    margin-bottom: 5%;
}