.sidebar-sticky {
    min-height: 90vh;

    @media only screen and (max-width: 900px) {
        min-height: unset;
    }

    ul {
        margin-top: 20%; 
        display: block;       
        @media only screen and (max-width: 900px) {
            margin-top: 5%;
        }

        li {
            margin-bottom: 2.5vh;
            font-size: 15px;            

            span {
                padding-left: 10px;
                color: #262A62;
            }
            
            @media only screen and (max-width: 900px) {
                margin-bottom: 1vh;
            }
        }
    }
}

.nav-link:hover{
    font-weight: bold;
}
#active{
  font-weight: bold;
  font-size: 1.2;
}

/* Fixed sidenav, full height */
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #fff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    font-weight: bold;
  }
  
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262A62;
    margin-left: 15%;
  }

  .dropdown-container > a {
    border-bottom: 2px solid #f8f9fa;
  }