:root{
	--primaryColor: #037b86;
	--secondaryColor: #02737e;
	--primaryAsh: #f8fafc;
	--primaryBlack: #191919;
	--primaryWhite: #ffffff;
}
*, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.btn{
	margin: 0;
}

.btn.btn-primary{
	background-color: var(--primaryBlack) !important;
	border-color: var(--primaryBlack);
}

::-webkit-scrollbar-track {
	border: 1px solid #FAA831;
	border-radius: 5px;
	background-color: var(--primaryAsh);
}

::-webkit-scrollbar {
	width: 3px;
	background-color: var(--primaryAsh);
}

::-webkit-scrollbar-thumb {
	background-color: #FF0014;	
}

td, th{
	text-align: center;
}

.page-content{
	padding: 20px;
	background: var(--primaryWhite);
	overflow: auto;
}