@font-face {
	font-family: gibson-italic;
	src: url("./fonts/gibson/Gibson-RegularItalic.ttf");
}
@font-face {
	font-family: gibson-regular;
	src: url("./fonts/gibson/Gibson-Regular.ttf");
}
@font-face {
	font-family: gibson-bold;
	src: url("./fonts/gibson/gibson-bold.ttf");
}

:root{
	--primaryColor: #037b86;
	--secondaryColor: #02737e;
	--primaryAsh: #f8fafc;
	--secondaryAsh: #888888;
	--primaryBlack: #191919;
	--primaryWhite: #ffffff;
	--primaryFont: 'gibson-regular';
	--secondaryFont: 'gibson-bold';
	--primaryFontItalic: 'gibson-italic';
}
*, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	font-family: 'gibson-regular';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'gibson-bold';
}

.btn{
	margin: 0;

	&.btn-primary, &.btn-outline-secondary{
		background-color: var(--primaryBlack) !important;
		border-color: var(--primaryBlack) !important;
		color: var(--primaryWhite) !important;

		&:not(:disabled):not(.disabled):active, 
		&:not(:disabled):not(.disabled).active, 
		&.show > .dropdown-toggle {
			background-color: var(--primaryBlack) !important;
			border-color: var(--primaryBlack) !important;
			box-shadow: var(--primaryBlack);
		}

		&:hover{
			background-color: var(--primaryColor) !important;
			border-color: var(--primaryColor) !important;
			color: var(--primaryBlack) !important;
			transform: scale(1.025);
		}
	}
}


::-webkit-scrollbar-track {
	border: 1px solid #FAA831;
	border-radius: 5px;
	background-color: var(--primaryAsh);
}

::-webkit-scrollbar {
	width: 3px;
	background-color: var(--primaryAsh);
}

::-webkit-scrollbar-thumb {
	background-color: #FF0014;	
}

td, th{
	text-align: center;
}

.page-content{
	padding: 20px;
	background: var(--primaryWhite);
	overflow: auto;
}